<p>
    <strong>Item:</strong>
    <%= @expense.item %>
</p>
<p>
    <strong>Cost:</strong>
    <%= @expense.cost %>
</p>
<p>
    <strong>Date:</strong>
    <%= @expense.date %>
</p>
<p>
    <strong>Category:</strong>
    <%= @expense.category %>
</p>
<p>
    <strong>Comments:</strong>
    <%= @expense.comments %>
</p>


